actionTitle: "Interactions between Control Theory and Machine Learning"
actionNumber: "CA24136"
actionAbbreviation: "InterCoML"
actionCOSTWebpage: "https://www.cost.eu/actions/CA24136/"

baseUrl: "http://cost-intercoml.unidu.hr"

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"


future: true


collections:
  news:
    output: true
