<div class="desktop-menu-wrapper">
  <div class="desktop-menu-top-wrapper">
    <div class="desktop-menu-top">
      <a href="https://www.cost.eu/" target="_blank" rel="noopener noreferrer">Info about COST</a>
    </div>
  </div>
  <div class="mobile-menu">
    <input type="checkbox" id="mobileMenuCheckbox">
    <label for="mobileMenuCheckbox" class="mobile-menu-toggle">Menu</label>

    <div class="mobile-menu-dropdown">
      <a href="{{ site.baseUrl }}/">Home</a>
      <a href="{{ site.baseUrl }}/about">About</a>
      <details class="mobile-submenu">
        <summary>Working Groups</summary>
        <a href="{{ site.baseUrl }}/working-groups" class="mobile-sub-item">Overview</a>
        {% for wg in site.data.working_groups %}
          <a href="{{ site.baseUrl }}/wg{{ wg.number }}" class="mobile-sub-item">WG {{ wg.number }} - {{ wg.title }}</a>
        {% endfor %}
      </details>
      <a href="{{ site.baseUrl }}/activities">Activities</a>
      <a href="{{ site.baseUrl }}/news">News</a>
      <a href="{{ site.baseUrl }}/dissemination">Dissemination</a>
      <details class="mobile-submenu">
        <summary>Organisation</summary>
        <a href="{{ site.baseUrl }}/action-leaders" class="mobile-sub-item">Action Leaders</a>
        <a href="{{ site.baseUrl }}/core-group" class="mobile-sub-item">Core Group</a>
        <a href="{{ site.baseUrl }}/mc-members" class="mobile-sub-item">Management Committee</a>
      </details>
    </div>
  </div>
  <div class="desktop-menu">
    <div class="menu-logo">
      <a href="{{ site.baseUrl }}/">
        <img class="logo" src="{{ site.baseUrl }}/assets/images/logo_intercoml.png" alt="Logo of the {{ site.actionAbbreviation }} COST Action" />
      </a>
    </div>
    <ul class="nav-bar">
      <li class="nav-item{% if page.url == '/about/' %} nav-active{% endif %}">
        <a href="{{ site.baseUrl }}/about">About</a>
      </li>
      {% assign wg_active = false %}
      {% if page.url == '/working-groups/' %}{% assign wg_active = true %}{% endif %}
      {% for wg in site.data.working_groups %}
        {% capture wg_url %}/wg{{ wg.number }}/{% endcapture %}
        {% if page.url == wg_url %}{% assign wg_active = true %}{% endif %}
      {% endfor %}
      <li class="nav-item nav-dropdown{% if wg_active %} nav-active{% endif %}">
        <a href="javascript:void(0)">Working Groups</a>
        <ul class="nav-dropdown-menu">
          <li><a href="{{ site.baseUrl }}/working-groups"{% if page.url == '/working-groups/' %} class="nav-dropdown-active"{% endif %}>Overview</a></li>
          {% for wg in site.data.working_groups %}
            {% capture wg_url %}/wg{{ wg.number }}/{% endcapture %}
            <li><a href="{{ site.baseUrl }}/wg{{ wg.number }}"{% if page.url == wg_url %} class="nav-dropdown-active"{% endif %}>WG {{ wg.number }} - {{ wg.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="nav-item{% if page.url == '/activities/' %} nav-active{% endif %}">
        <a href="{{ site.baseUrl }}/activities">Activities</a>
      </li>
      <li class="nav-item{% if page.url == '/news/' %} nav-active{% endif %}">
        <a href="{{ site.baseUrl }}/news">News</a>
      </li>
      <li class="nav-item{% if page.url == '/dissemination/' %} nav-active{% endif %}">
        <a href="{{ site.baseUrl }}/dissemination">Dissemination</a>
      </li>
      <li class="nav-item nav-dropdown{% if page.url == '/action-leaders/' or page.url == '/core-group/' or page.url == '/mc-members/' %} nav-active{% endif %}">
        <a href="javascript:void(0)">Organisation</a>
        <ul class="nav-dropdown-menu">
          <li><a href="{{ site.baseUrl }}/action-leaders"{% if page.url == '/action-leaders/' %} class="nav-dropdown-active"{% endif %}>Action Leaders</a></li>
          <li><a href="{{ site.baseUrl }}/core-group"{% if page.url == '/core-group/' %} class="nav-dropdown-active"{% endif %}>Core Group</a></li>
          <li><a href="{{ site.baseUrl }}/mc-members"{% if page.url == '/mc-members/' %} class="nav-dropdown-active"{% endif %}>Management Committee</a></li>
        </ul>
      </li>
    </nav>
  </div>
  <hr>
</div>
