<div class="desktop-menu-wrapper">
  <div class="desktop-menu-top-wrapper">
    <div class="desktop-menu-top">
      <a href="https://www.cost.eu/" target="_blank" rel="noopener noreferrer">Info about COST</a>
    </div>
  </div>
  <div class="desktop-menu">
    <div class="menu-logo">
      <a href="{{ site.baseUrl }}/">
        <img class="logo" src="{{ site.baseUrl }}/assets/images/logo_intercoml.png" alt="Logo of the {{ site.actionAbbreviation }} COST Action" />
      </a>
    </div>
    <ul class="nav-bar">
      <li class="nav-item">
        <a href="{{ site.baseUrl }}/about">About</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseUrl }}/working-groups">Working Groups</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseUrl }}/activities">Activities</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseUrl }}/news">News</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseUrl }}/dissemination">Dissemination</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseUrl }}/mc-members">MC Members</a>
      </li>
    </nav>
  </div>
  <hr>
</div>
