<footer class="desktop-footer-wrapper">
  <hr>
  <div class="desktop-footer-content">
    <div class="container">
      <div class="sub-container">
        <div class="desktop-footer-column-wrapper">
          <div class="desktop-footer-column">
            <a href="https://www.cost.eu/" target="_blank" rel="noopener noreferrer">
              <h4>COST</h4>
              <p>COST (European Cooperation in Science and Technology) is a funding organisation for research and innovation networks. Our Actions help connect research initiatives across Europe and beyond and enable researchers and innovators to grow their ideas in any science and technology field by sharing them with their peers.</p>
            </a>
          </div>
          <div class="desktop-footer-column">
            <a href="https://www.cost.eu/actions/CA24136/" target="_blank" rel="noopener noreferrer">
              <h4>COST Action {{ site.actionNumber }}</h4>
              <p>This Action will exploit the deep interconnections between Control Theory (CT) and Machine Learning (ML). It will boost applications of tools from CT to ML and vice versa, and explore the great applicative potential that can be released by combining these two rapidly evolving research areas.</p>
            </a>
          </div>
          <div class="desktop-footer-column">
            <h4>Grant Holder Institution</h4>
            <a href="https://www.unidu.hr">University of Dubrovnik</a>
            <h4>Follow us</h4>
            <!--<a href="#" class="fa fa-facebook"></a>-->
            <a href="https://www.linkedin.com/company/intercoml/" class="fa fa-linkedin"></a>
            <!--<a href="#" class="fa fa-youtube"></a>-->
            <!--<a href="#" class="fa fa-instagram"></a>-->
          </div>
        </div>
        <img src="{{ site.baseUrl }}/assets/images/logo_cost.png" alt="" />
        <img src="{{ site.baseUrl }}/assets/images/funding_eu.png" alt="" />
      </div>
    </div>
  </div>
  <div class="desktop-footer-bottom-wrapper">
    <div class="desktop-footer-bottom">
      <a href="{{ site.baseUrl }}/">Home</a>
      <a href="{{ site.baseUrl }}/about">About</a>
      <a href="{{ site.baseUrl }}/working-groups">Working Groups</a>
      <a href="{{ site.baseUrl }}/activities">Activities</a>
      <a href="{{ site.baseUrl }}/news">News</a>
      <a href="{{ site.baseUrl }}/dissemination">Dissemination</a>
      <a href="{{ site.baseUrl }}/mc-members">MC Members</a>
      <a href="{{ site.baseUrl }}/imprint" class="link">Imprint</a>
      <div class="copyright">Copyright © 2025. All Rights Reserved</div>
    </div>
  </div>
</footer>
