<div class="sub-container">
  <div class="row">
    <div class="column">
      <img style="width: 100%;" class="logo" src="{{ site.baseUrl }}/assets/images/logo_intercoml.png" alt="Logo of the {{ site.actionAbbreviation }} COST Action" />
    </div>
    <div class="column">
      <h1><span class="mainGreen">Inter</span><span class="mainBlue">CoML:</span> {{ site.actionTitle }}</h1>
      <p>
        Welcome on the webpage of the COST Action {{ site.actionAbbreviation }}! The main aim and objective of
        the Action is to boost applications of tools from Control Theory to Machine Learning and vice versa,
        and to explore the great applicative potential that can be released by combining these two rapidly
        evolving research areas.
      </p>
    </div>
  </div>
</div>
