<div class="sub-container">
  <button class="accordion">Action Leaders</button>
  <div class="panel">
    {% assign members_list = site.data.leadership_roles %}
    {% assign role_label = "Role" %}
    {% include members-table.html %}
  </div>
  <button class="accordion">Core Group</button>
  <div class="panel">
    {% assign members_list = site.data.cg_members %}
    {% assign role_label = false %}
    {% include members-table.html %}
  </div>
  <button class="accordion">Management Committee</button>
  <div class="panel">
    {% assign members_list = site.data.mc_members %}
    {% assign role_label = "Country" %}
    {% include members-table.html %}
  </div>
  {% for wg in site.data.working_groups %}
    <button class="accordion">WG {{ wg.number }} - {{ wg.title }}</button>
    <div class="panel">
      <div class="row">
        <div class="column">
          <p>{{ wg.description }}</p>
          <a href="{{ site.baseUrl }}/working-groups" class="link">More Information</a>
        </div>
        <div class="column">
          <img style="width: 75%;" class="logo" src="{{ site.baseUrl }}/assets/images/logo_intercoml.png" alt="Logo of the {{ site.actionAbbreviation }} COST Action" />
        </div>
      </div>
    </div>
  {% endfor %}

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
  </script>
</div>
