<div class="sub-container">
  {% for wg in site.data.working_groups %}
    <button class="accordion">WG {{ wg.number }} - {{ wg.title }}</button>
    <div class="panel">
      <p>{{ wg.description }}</p>
      <a href="{{ site.baseUrl }}/working-groups" class="link">More Information</a>
    </div>
  {% endfor %}

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
  </script>
</div>
