@use "variables" as *;

.desktop-menu-wrapper {
  background-color: $altGray;
}

.desktop-menu-wrapper hr {
  margin: 0;
}

.desktop-menu {
  width: $container-max-width;

  margin-left: auto;
  margin-right: auto;
}

.desktop-menu-top-wrapper {
  width: 100%;
  background-color: $mainGreen;
}

.desktop-menu-top {
  width: $container-max-width;

  margin-left: auto;
  margin-right: auto;
  height: 30px;
  padding: 3px 0 3px 0;

  text-align: right;
}

.desktop-menu-top a {
  line-height: 30px;
  color: white;
  text-decoration: none;

  transition: color 0.5s;
}

.desktop-menu-top a:hover {
  color: black!important;
}

.menu-logo {
  height: 100px;
  width: auto;
  float: left;
  margin: 5px;
}

.logo {
  max-height: 100%;
  width: auto;
}

.nav-bar {
  list-style: none;
  margin: 0;
  line-height: 110px;
  display: flex;
}

.nav-item {
  margin: 0 4px;
  padding: 0;
  line-height: 110px;
  flex-grow: 1;
  text-align: center;
}

.nav-bar li a {
  color: $mainBlue;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: .2px;
  padding: 15px 7px 10px 7px;
  line-height: 85px;
  position: relative;
}

.nav-bar li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $mainBlue;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav-bar li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
