@use "variables" as *;
@charset "utf-8";

html, body {
  height: 100%;
  margin: 0 auto;
}

body {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: $bodyFont;
}

h1, h2, h3 {
  font-family: $headerFont;
  color: var(--header-color);
  margin-bottom: 0;
}

h2, h3 {
  margin-top: $h2-spacing;
}

h4 {
  color: $altBlue;
}

.container {
  width: $container-max-width;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.sub-container {
  margin: 5px;
  padding: 3px;
  //width: 100%;
}

hr {
  color: $mainGreen;
}

.hr-index {
  margin-top: 50px;
  margin-bottom: 50px;
}

.link {
  color: $mainBlue;
  font-weight: bold;
  transition: color 0.5s;
}

.link:hover {
  color: $mainGreen;
}

.button {
  background-color: $mainBlue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  transition: background-color 0.5s;
}

.button:hover {
  background-color: $altBlue;
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  gap: 20px;
}

.card {
  max-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 5px;
  text-align: center;
  background-color: $altGray;
  color: black;
}

.card img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  >input[type="radio"] {
    display: none;

    &:checked+.tab-label {
      // this is the active tab
      background-color: $mainBlue;
      color: white;
    }
  }

  >input[type="radio"]:first-child+.tab-label {
    // target the first tab label
    border-radius: 50px 0 0 0;
    border-left: solid $mainBlue;
  }

  >input[type="radio"]:last-of-type+.tab-label {
    // target the last tab label
    border-radius: 0 50px 0 0;
    border-right: solid $mainBlue;
  }

  >input[type="radio"]:not(:checked)+.tab-label+.tab-content {
    // hide inactive tabs
    display: none;
  }

  .tab-label {
    padding: 5px 15px;
    color: black;
    background-color: white;

    flex-grow: 1;
    text-align: center;
    height: 2.5em;
    font-size: 2em;
    line-height: 2em;

    transition: background-color 0.5s;
    transition: color 0.5s;
    border-color: $mainBlue;
    border-top: solid $mainBlue;
    border-bottom: solid $mainBlue;
  }

  .tab-label:hover {
    background-color: $mainBlue;
    color: white;
  }

  .tab-sublabel {
    font-size: 0.5em!important;
    line-height: 0.5em!important;
  }

  .tab-content {
    order: 99;
    width: 100%;
    display: block;
    border-color: $mainBlue;
    border-style: solid;
    border-top: none;
    padding: 15px;
    border-radius: 0 0 50px 50px;
  }
}


.accordion {
  background-color: $altGray;
  color: $mainBlue;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
