// Colors
$mainBlue: #182f4c;
$altBlue: #005979;
$mainGreen: #39a17f;
$mainGray: #babbbd;
$altGray: #f1f1f1;

// Styling
$toplevel-max-width: 70em;
$container-max-width: 70em;

$h2-spacing: 1.5rem;

// Fonts
@font-face {
  font-family: "Gill Sans";
  src: url("../webfonts/gill-sans-2/Gill Sans.otf") format("opentype");
}

@font-face {
  font-family: "Gill Sans Light";
  src: url("../webfonts/gill-sans-2/Gill Sans Light.otf") format("opentype");
}

$bodyFont: "Gill Sans", sans-serif;
$headerFont: "Gill Sans", sans-serif;
